<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNvmE4JtN8R6rRx3qtPqtKVDPXHLe5eFs</string>
	<key>GCM_SENDER_ID</key>
	<string>356234604613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quizApp1</string>
	<key>PROJECT_ID</key>
	<string>quizapp1-a4268</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp1-a4268.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356234604613:ios:8fa0b7a744b49f31d2f32c</string>
</dict>
</plist>